<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>
    <link rel="stylesheet" href="./main/main.css">
    <link rel="stylesheet" href="./main/home.css">
    <link rel="stylesheet" href="./main/modal.css">
    <link rel="stylesheet" href="./main/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&Ubuntu:wght@700display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>

    <div id=page-home>
        <div class="content">

            <header>
                   <img src="./extras-aula-1/icones/logo.svg" alt="Logo Marca">
                
                
                <a href="./create-point"><span></span>Cadastre um ponto de coleta</a>
            </header>
        
        <main>

        <h1>seu marketplace de coleta de residuos</h1>

        <p>Ajudamos pessoas a encontrarem pontos de coletas eficientes</p> 

        <a href="./#"><span></span><strong>Ponto de coleta</strong></a> 

        </main>

        </div>
    </div>


    {% include 'partials/modal.html' %}


    <script src="./scripts/index.js"></script>
</body>
</html>